<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Ihc4JOAsfuActRfpy5Tan8KDPczmbYo</string>
	<key>GCM_SENDER_ID</key>
	<string>143015024721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicsFirebase</string>
	<key>PROJECT_ID</key>
	<string>ninja-brew-crew-faa27</string>
	<key>STORAGE_BUCKET</key>
	<string>ninja-brew-crew-faa27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143015024721:ios:6016f2e059aaba7552c070</string>
	<key>DATABASE_URL</key>
	<string>https://ninja-brew-crew-faa27-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>